span.logo {
    text-transform: uppercase;
    border: 2px solid white;
    padding: 5px;
    color: white;
    font-size: 1.75em;
}

span.logo span.build {
    font-weight: bolder;
}

.bot {
    position: absolute;
    left: -5000px;
}

.superfast {
    font-size: 88px;
    color: #EF3F29;
}

.payasyougo, .hyper {
    font-size: 88px;
    color: #2CC76A;
}

.concurrent {
    font-size: 88px;
    color: #EF8F29;
}

.input, .output, .release, .github, .cog, .pipelines {
    box-sizing: content-box;
    font-size: 60px;
    width: 60px;
    text-align: center;
    color: #A7B3BD;
    float: left;
    padding: 10px 20px 0 0;
}

.jumbotron {
    height: auto;
}

.hero-unit {
    padding-top: 2em;
}

.footer {
    margin-top: 0;
}

.PlanPricing {
    margin-top: 2em;
}

.PlanPricing .planName {
    padding-top: 1em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.PlanPricing .planFeatures {
    height: 15em;
}

.PlanPricing .planSign a {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.img-thumbnail {
    width: 100%;
}